[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "libre-fastapi-jwt"
version = "0.21.1"
description = "Yet another fork of fast-jwt-auth"
authors = ["Libre NZ <github-support@libre.nz>"]
license = "MIT"
repository = "https://github.com/LibreNZ/libre-fastapi-jwt"
readme = "README.md"
classifiers = [
  "Environment :: Web Environment",
  "Intended Audience :: Developers",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Topic :: Internet :: WWW/HTTP :: Dynamic Content",
  "Topic :: Software Development :: Libraries :: Python Modules"
]

[tool.poetry.dependencies]
python = "^3.9"
PyJWT = "^2.6.0"
fastapi = ">=0.95.1"
cryptography = ">=41.0.0"
httpx = ">=0.14.0"
pydantic-settings = "^2.2.1"


[tool.poetry.dev-dependencies]
pytest = "^7.0.1"
requests = "^2.27.1"
pytest-cov = "^4.0.0"
uvicorn = "^0.22.0"